*{
    padding: 0;
    margin: 0;
}
#container {
    width: 100%;
    background-color: antiquewhite;
    overflow: hidden;
    position: relative;
}

#container>ul {
    width: 100%;
    /* height: 100px; */
    list-style: none;
    display: inline-block;
    /* transition: all .5s; */
}
#container>ul>li {
    width: 100%;
    /* height: 100px; */
    display: inline-block;
}
#container>ul>li img{
    width: 100%;
    /* height: 100px; */
}

.dots {
    z-index: 999;
    width: auto!important;
    height: 50px;
    position: absolute;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
}
.dots > span {
    transition: all .5s;
    margin: 0 10px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background-color: rgba(15, 214, 228, 0.614);
    cursor: pointer;
}

.dots .active {
 width: 40px;
}

.to-left, .to-right {
    position:absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(204, 95, 40, 0.55);
    width: 30px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: rgb(218, 217, 217);
    font-size: 24px;
    cursor: pointer;

}
.to-left {
    left: 0;
}
.to-right {
    right: 0;
}